<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-3 col-xs-6">
                <!-- logo -->
                <div class="logo">
                    <a href="/"><img src="images/sublime-attestation-logo.png" alt="Sublime Attestation & Visa Services"></a>
                </div>
            </div>
            <!-- logo -->
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div id="navigation">
                    <!-- navigation start-->
                    <ul>
                        <li class=<%= page==='index' ? 'active' : '' %>><a href="/" class="animsition-link">Home </a></li>
                        <li><a href="/attestation" class="animsition-link">Attestation</a>
                            <ul>
                                <li><a href="/attestation" title="Loan Image Listing" class="animsition-link">Attestation</a></li>
                                <!--<li><a href="hrd-attestation.html" title="Loan Icon Listing" class="animsition-link">HRD Attestation</a></li>-->
                                <li><a href="/embassy-attestation" title="Car Loan" class="animsition-link">Embassy Attestation</a></li>
                            </ul>
                        </li>
                        <li class=<%= page==='hrd-attestation' ? 'active' : '' %>><a href="/hrd-attestation" title="Loan Icon Listing" class="animsition-link" >HRD Attestation</a></li>
                        <li class=<%= page==='apostille' ? 'active' : '' %>><a href="/apostille" class="animsition-link">Apostille</a></li>
                        <li class=<%= page==='translation-services' ? 'active' : '' %>><a href="/translation-services" class="animsition-link">Translation</a></li>
                        <li class=<%= page==='visa' ? 'active' : '' %>><a href="/visa" class="animsition-link">Visa</a></li>
                        <li class=<%= page==='contact-us' ? 'active' : '' %>><a href="/contact-us" class="animsition-link">Contact us</a></li>
                    </ul>
                </div>
                <!-- /.navigation start-->
            </div>
        </div>
    </div>
</div>