<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Sublime Attestation">
    <meta name="keywords" content="Financial Website Template, Bootstrap Template, Loan Product, Personal Loan, Loan Terms, Loan Company ">
    <title>Sublime Attestation</title>
    <%- include('../views/partials/common_css.ejs') %>

</head>

<body class="animsition">
    <%- include('../views/partials/topbar.ejs') %>
        <%- include('../views/partials/header.ejs') %>
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="bg-white pinside30">
                                <div class="row">
                                    <div class="col-md-12 col-sm-4 col-xs-4">
                                        <h1 class="page-title">Attestation</h1>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li><a href="#section-about" class="page-scroll">About Attestation</a></li>
                            <li><a href="#section-typeloan" class="page-scroll">types of Attestation</a></li>
                            <li><a href="#section-feature" class="page-scroll">features &amp; Benefits</a></li>
                            <li><a href="#section-eleigiblity" class="page-scroll">Documents</a></li>
                            <li><a href="#section-faq" class="page-scroll">FAQ’S</a></li>
                            <li><a href="#section-apply" class="page-scroll">Apply now</a></li>
                        </ul>
                    </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class=" ">
                <!-- content start -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="wrapper-content bg-white">
                                <div class="section-scroll pinside60" id="section-about">
                                    <h1>About Attestation</h1>
                                    <!--<p class="lead">To make your journey a smooth sail, in this article we will help you to know types of Documents, process of Attestation and answers of some faqs.</p>-->
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <p>Sublime Attestation provides one of the best attestation services in India, we are expertise in document attestation services for personal, educational, commercial certificates.</p>
                                            <p>We provide reliable and trustworthy attestation services for more than 190 countries, get your documents attested hassle-free with expert attestation executives. </p>
                                        </div>
                                    </div>
                                    <p> </p>
                                    <a href="#attestation-section-apply" class="btn btn-default">Enquire Now</a>
                                </div>
                                <hr width="90%">

                                <div class="section-scroll" id="section-typeloan">
                                    <div class="bg-light pinside60">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="section-title mb60">
                                                    <h2>Types of Documents</h2>
                                                    <p>Sed sit amet volutpat erat. Lorem ipsum dolor sit amet lorem consectetur adipiscing elit. Nam massa ipsum, mollis et sit amet ullamcorque duraesent nec vehicula dolor.</p>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-6 col-xs-12">
                                                <div class="feature-blurb mb60">
                                                    <h3>Personal Documents</h3>
                                                    <p>Documents holding personal information of an individual are Personal documents. For dependent visa purposes, Personal documents are required attestation. We proceed attestation on all kinds of personal
                                                        documents including Birth certificate, Marriage Certificate, Offer letter, Medical certificate, Transfer Certificate, Divorcee Deed, Adoption Deed etc</p>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-6 col-xs-12">
                                                <div class="feature-blurb mb60">
                                                    <h3>Educational Documents</h3>
                                                    <p>To get admitted to higher studies in foreign university or to get employment abroad one needs his educational certificates authenticated by the relevant authorities. We are providing all attestation
                                                        solutions on all types of educational documents such as Degree certificate, Marksheets, Transcripts, School Leaving Certificate. </p>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-6 col-xs-12">
                                                <div class="feature-blurb">
                                                    <h3>Commercial Documents</h3>
                                                    <p>For business purposes in Overseas, commercial documents are needed to be legalized by the Chamber of commerce in India. Sublime Services is providing all kinds of commercial legalization solutions to
                                                        the companies who are rendering to expand their trade beyond boundaries.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr width="90%">

                                <!-- <div class="bg-default pinside80 text-center">
                            <div class="row">
                                <h1 class="text-white">Get financing for whatever you need now</h1>
                                <a href="#" class="btn btn-default">Enquire Now</a> </div>
                        </div>-->



                                <div class="section-scroll" id="section-eleigiblity">
                                    <div class=" bg-light pinside60">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="section-title mb60">
                                                    <h2>Procedure for Attestation</h2>
                                                    <p> All kinds of documents i.e. Personal documents, educational documents, legal documents and commercial documents need authentication before submitting it to the government. authorities, that is what we
                                                        called document attestation. For every specific document there's a proper way of 2 or 3 tier of certification. Every document needs to be verified by the concerned state authority or by the Delhi
                                                        State Divisional Magistrate (SDM) and then to be legalised by the Ministry of Foreign affairs . After state verification, the Ministry of External (MEA) affairs puts a stamp of authentication holding
                                                        the responsibility of the content of that particular document.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="st-tabs">
                                                    <!-- Nav tabs -->
                                                    <ul class="nav nav-tabs nav-justified" role="tablist">
                                                        <li role="presentation" class="active"><a href="#service1" aria-controls="service1" role="tab" data-toggle="tab">State HRD attestation</a></li>
                                                        <li role="presentation"><a href="#service2" aria-controls="service2" role="tab" data-toggle="tab">GAD/ Home Department</a></li>
                                                        <li role="presentation"><a href="#service3" aria-controls="service3" role="tab" data-toggle="tab">SDM</a></li>
                                                        <li role="presentation"><a href="#service4" aria-controls="service4" role="tab" data-toggle="tab">Chamber of Commerce</a></li>
                                                    </ul>
                                                    <!-- Tab panes -->
                                                    <div class="tab-content">
                                                        <div role="tabpanel" class="tab-pane fade in active" id="service1">
                                                            <!--<p class="lead">Crasquis lacus nonmetus ultrices pulviulla justo sapien vehicula id Vestib eleifend velit sed, finibus justo. Aenean quis dignissim tellus,</p>-->
                                                            <p>Every state has its human resource dept. (HRD) to verify the source of the educational document. State HRD coordinates with the issuing University and other Institution which lies under its jurisdiction
                                                                to check and verify the genuinity of the degree certificate, post-graduation degree certificate, passing certification etc. This sort of authentication is required to get MEA stamping on
                                                                the educational documents. At sublime we are tied up with the Human resource dept. Of different states of India to get your document verified in a hassle-free manner. We are mainly dealing
                                                                into
                                                            </p>
                                                            <div class="col-md-3 col-sm-4 col-xs-12">
                                                                <div class="feature-blurb mb30">
                                                                    <ul class="listnone bullet bullet-arrow-right">
                                                                        <li>Delhi</li>
                                                                        <li>Maharashtra</li>
                                                                        <li>UP</li>
                                                                        <li>Karnataka</li>
                                                                        <li>Telangana </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 col-sm-4 col-xs-12">
                                                                <div class="feature-blurb mb30">
                                                                    <ul class="listnone bullet bullet-arrow-right">
                                                                        <li>Haryana</li>
                                                                        <li>Punjab</li>
                                                                        <li>Tamil Nadu</li>
                                                                        <li>Kerala</li>
                                                                        <li>Andhra</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 col-sm-4 col-xs-12">
                                                                <div class="feature-blurb mb30">
                                                                    <ul class="listnone bullet bullet-arrow-right">
                                                                        <li>West Bengal</li>
                                                                        <li>Bihar</li>
                                                                        <li>Jharkhand</li>
                                                                        <li>Chhattisgarh</li>
                                                                        <li>Goa</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 col-sm-4 col-xs-12">
                                                                <div class="feature-blurb mb30">
                                                                    <ul class="listnone bullet bullet-arrow-right">
                                                                        <li>Orissa</li>
                                                                        <li>Sikkim </li>
                                                                        <li>Assam </li>
                                                                        <li>Gujarat </li>
                                                                        <li>Madhya Pradesh</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div role="tabpanel" class="tab-pane fade" id="service2">
                                                            <!--<p class="lead">Sed et rhoncus diam, vel dictum turpis. Maecenas facilisis ullamcorper elit non finibus. Ut semper feugiat efficitur.</p>-->
                                                            <p> To verify personal documents like Birth certificate, marriage certificate, Death certificate, divorce deed, adoption deed, Unmarried / Civil status certificate, state home departments are there
                                                                in every state. Sublime is also having a wide network to different state's home departments. We are considered specialized in providing</p>
                                                            <div class="col-md-3 col-sm-4 col-xs-12">
                                                                <div class="feature-blurb mb30">
                                                                    <ul class="listnone bullet bullet-arrow-right">
                                                                        <li>Maharashtra</li>
                                                                        <li>Goa</li>
                                                                        <li>Bihar</li>
                                                                        <li>Assam </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 col-sm-4 col-xs-12">
                                                                <div class="feature-blurb mb30">
                                                                    <ul class="listnone bullet bullet-arrow-right">
                                                                        <li>Delhi</li>
                                                                        <li>Tamil Nadu</li>
                                                                        <li>Madhya Pradesh</li>
                                                                        <li>Gujarat</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 col-sm-4 col-xs-12">
                                                                <div class="feature-blurb mb30">
                                                                    <ul class="listnone bullet bullet-arrow-right">
                                                                        <li>Telangana </li>
                                                                        <li>Andhra Pradesh</li>
                                                                        <li>West Bengal</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 col-sm-4 col-xs-12">
                                                                <div class="feature-blurb mb30">
                                                                    <ul class="listnone bullet bullet-arrow-right">
                                                                        <li>Chhattisgarh </li>
                                                                        <li>Haryana </li>
                                                                        <li>Odisha </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div role="tabpanel" class="tab-pane fade" id="service3">
                                                            <!--<p class="lead">Lorem ipsum dolor sit amet consectetur lacus lacus eget condimentum libero sagittisaorbi et nisijusto aliquam gravida etnon saisque laciniaem mattis rutrumauris insemper sollicitudinonec euornare ravida etnon per inceptos himenaeos.</p>-->
                                                            <p>Documents which are not considered either state HRD or at State Home dept are need to be attested by Sub-Divisional Magistrate (SDM, Delhi) before getting the same validated by Ministry of External
                                                                Affairs. Moreover, In case of in-sufficient time or resources to approach state authorities one can have SDM attestation as an alternate attestation for some countries like</p>
                                                            <div class="col-md-3 col-sm-4 col-xs-12">
                                                                <div class="feature-blurb mb30">
                                                                    <ul class="listnone bullet bullet-arrow-right">
                                                                        <li>UAE</li>
                                                                        <li>China</li>
                                                                        <li>Kuwait</li>
                                                                        <li>Morocco</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 col-sm-4 col-xs-12">
                                                                <div class="feature-blurb mb30">
                                                                    <ul class="listnone bullet bullet-arrow-right">
                                                                        <li>Qatar</li>
                                                                        <li>Egypt</li>
                                                                        <li>Iraq</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 col-sm-4 col-xs-12">
                                                                <div class="feature-blurb mb30">
                                                                    <ul class="listnone bullet bullet-arrow-right">
                                                                        <li>Thailand</li>
                                                                        <li>Bahrain</li>
                                                                        <li>Libya</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 col-sm-4 col-xs-12">
                                                                <div class="feature-blurb mb30">
                                                                    <ul class="listnone bullet bullet-arrow-right">
                                                                        <li>Oman</li>
                                                                        <li>Yemen</li>
                                                                        <li>Vietnam</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div role="tabpanel" class="tab-pane fade" id="service4">
                                                            <!--<p class="lead">Lorem ipsum dolor sit amet consectetur lacus lacus eget condimentum libero sagittisaorbi et nisijusto aliquam gravida etnon saisque laciniaem mattis rutrumauris insemper sollicitudinonec euornare ravida etnon per inceptos himenaeos.</p>-->
                                                            <p>We provide Chamber of Commerce attestation for commercial documents like</p>
                                                            <div class="col-md-3 col-sm-4 col-xs-12">
                                                                <div class="feature-blurb mb30">
                                                                    <ul class="listnone bullet bullet-arrow-right">
                                                                        <li>Certificate of Origin</li>
                                                                        <li>Tax Invoices</li>
                                                                        <li>Memorandum of Association</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 col-sm-4 col-xs-12">
                                                                <div class="feature-blurb mb30">
                                                                    <ul class="listnone bullet bullet-arrow-right">
                                                                        <li>Articles of Association</li>
                                                                        <li>Trademark registration certificate</li>
                                                                        <li>Health Certificate</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 col-sm-4 col-xs-12">
                                                                <div class="feature-blurb mb30">
                                                                    <ul class="listnone bullet bullet-arrow-right">
                                                                        <li>Packing list</li>
                                                                        <li>Commercial ITR</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 col-sm-4 col-xs-12">
                                                                <div class="feature-blurb mb30">
                                                                    <ul class="listnone bullet bullet-arrow-right">
                                                                        <li>certificate of conformity</li>
                                                                        <li>Phytosanitary certificate</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="feature-blurb mb30">
                                            <h3>Notary Attestation</h3>
                                            <p>Nulla vitae tempus nibh. Vestibulum condimentum neque at interdrem ac fristibulum porttitor euismod urna.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="feature-blurb mb30">
                                            <h3>MEA Stamp</h3>
                                            <p>Nulla vitae tempus nibh. Vestibulum condimentum neque at interdrem ac fristibulum porttitor euismod urna.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="feature-blurb mb30">
                                            <h3>Embassy Attestation</h3>
                                            <p>Nulla vitae tempus nibh. Vestibulum condimentum neque at interdrem ac fristibulum porttitor euismod urna. </p>
                                        </div>
                                    </div>
                                </div>-->
                                        <!--<div class="row">
                                    <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-12"> </div>
                                </div>-->
                                    </div>
                                </div>
                                <hr width="90%">


                                <div class="section-scroll" id="section-typeloan">
                                    <div class="bg-light pinside60">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="section-title mb60">
                                                    <h2>We provide Attestation for Countries listed Below</h2>
                                                    <p>Sed sit amet volutpat erat. Lorem ipsum dolor sit amet lorem consectetur adipiscing elit. Nam massa ipsum, mollis et sit amet ullamcorque duraesent nec vehicula dolor.</p>
                                                </div>
                                            </div>
                                            <div class=" col-md-12 col-sm-12 col-xs-12">
                                                <div class="row column-block">
                                                    <!--<div class="col-md-12">
                                                <h2>One Fourth (1/4)</h2>
                                                <ul>
                                                	<li>UAE</li>
                                                    <li>Saudi</li>
                                                    <li>Qatar</li>
                                                </ul>
                                            </div>-->
                                                    <div class="col-md-3 col-sm-3">
                                                        <ul class="listnone bullet bullet-arrow-right">
                                                            <li>UAE</li>
                                                            <li>Saudi</li>
                                                            <li>Qatar</li>
                                                            <li>Shrilanka</li>
                                                            <li>Equador</li>
                                                            <li>Netherland</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3 col-sm-3">
                                                        <ul class="listnone bullet bullet-arrow-right">
                                                            <li>Kuwait</li>
                                                            <li>Taiwan</li>
                                                            <li>Algeria</li>
                                                            <li>Bangladesh</li>
                                                            <li>Malaysia</li>
                                                            <!--<li></li>-->
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3 col-sm-3">
                                                        <ul class="listnone bullet bullet-arrow-right">
                                                            <li>Egypt</li>
                                                            <li>Australia</li>
                                                            <li>Bahrain</li>
                                                            <li>Vietnam</li>
                                                            <li>Germany</li>
                                                            <!--<li></li>-->
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3 col-sm-3">
                                                        <ul class="listnone bullet bullet-arrow-right">
                                                            <li>Argentina</li>
                                                            <li>Yemen</li>
                                                            <li>China</li>
                                                            <li>Thailand</li>
                                                            <li>Italy</li>
                                                            <!--<li></li>-->
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr width="90%">


                                <!--<div class="section-scroll" id="section-feature">
                            <div class="pinside60">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="section-title mb60">
                                            <h2>Features of Attestation</h2>
                                            <p> All loans are not created equal, personal loan has become a great option for people to use.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="feature-icon mb30">
                                            <div class="icon mb20"><i class="icon-employee icon-default icon-2x"></i></div>
                                            <h3>Salaried &amp; Self Employed</h3>
                                            <p>Our loan sanction is one of the quicke with eas documentation and doorstep service ullam nisnisi.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="feature-icon mb30">
                                            <div class="icon mb20"><i class="icon-light-bulb-1 icon-default icon-2x"></i></div>
                                            <h3>Loan For Agriculturists</h3>
                                            <p>All charges are communicated up front in writing along with the loan quotation uisque euismdolor at tincidunt.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="feature-icon mb30">
                                            <div class="icon mb20"><i class="icon-target icon-default icon-2x"></i></div>
                                            <h3>Attestations For NRIs</h3>
                                            <p>Our loan rates and charges are very attractive lorem ipsums sitamet uerse ipsurabitulectus mattis vitae. </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="feature-icon mb30">
                                            <div class="icon mb20"><i class="icon-dollar-coins icon-default icon-2x"></i></div>
                                            <h3>No Morgage</h3>
                                            <p>Nulla vitae tempus nibh. Vestibulum condimentum neque at interdrem ac fristibulum porttitor euismod urna. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->

                                <div class="section-scroll" id="section-faq">
                                    <div class="pinside60">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="section-title mb60">
                                                    <h2>Frequently Ask Questions</h2>
                                                    <p>If you have a question that deals with clients, customers or the public in general, there is bound to be a need for the FAQ page. </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 st-accordion col-xs-12">
                                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="headingOne">
                                                            <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What is document attestation?</a> </h4>
                                                        </div>
                                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                            <div class="panel-body">
                                                                <p>Attestation is a procedure of verification & authentication carried out by government officials to make it admissible in front of competent authority.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="headingTwo">
                                                            <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Who does attestation?</a> </h4>
                                                        </div>
                                                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                            <div class="panel-body">
                                                                <p>It is done by different departments at different levels in respect of nature and content of the document. Departments like Notary, State HRD/Home dept., Sub-Divisional Magistrate- Delhi,
                                                                    Ministry Of External Affairs (MEA) are working in this direction to meet your immigration needs.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="headingThree">
                                                            <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> How long does it take in MEA attestation?</a>                                                                </h4>
                                                        </div>
                                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                            <div class="panel-body">
                                                                <p>Once the state /sdm attestation is done, MEA takes only 2 working days to stamp a document.</p>
                                                                <!--<ul>
                                                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                                            <li>Cras imperdiet ligula ac elit sollicitudin scelerisque.</li>
                                                            <li>Nunc viverra mi et risus dictum condimentum.</li>
                                                            <li>Integer ac mi nec elit cursus rutrum ac in odio.</li>
                                                            <li>Integer sit amet sapien dapibus libero finibus pellentesque eu at purus.</li>
                                                        </ul>-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--<div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingFour">
                                                    <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">question 4?</a> </h4>
                                                </div>
                                                <div id="collapseFour" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingFour">
                                                    <div class="panel-body">
                                                        <p>Lorem ipsums sium congueut porttitor acese its commodo non lorem estibulum finibus urna eu efficitur non lorem acese its commodo sitamet finibus urnaeuloremmse its lorem ipusm dolro sit commodo.</p>
                                                    </div>
                                                </div>
                                            </div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <hr width="90%">-->

                                <div class="section-scroll" id="attestation-section-apply">
                                    <div class="bg-light pinside60"></div>
                                </div>
                                <%- include('../views/partials/request-call-form.ejs') %>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('../views/partials/whats-app-contact.ejs') %>
                <%- include('../views/partials/footer.ejs') %>
                    <%- include('../views/partials/common_js.ejs') %>
</body>

</html>