<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Sublime Attestation">
    <title>Sublime Attestation</title>
    <%- include('../views/partials/common_css.ejs') %>
</head>

<body class="animsition">
    <%- include('../views/partials/topbar.ejs') %>
        <%- include('../views/partials/header.ejs') %>

            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="bg-white pinside30">
                                <div class="row">
                                    <div class="col-md-4 col-sm-5">
                                        <h1 class="page-title">Contact us</h1>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li><a href="contact-us.html">Give me call back</a></li>
                            <li><a href="#">Emi Caculator</a></li>
                        </ul>
                    </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class=" ">
                <!-- content start -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="wrapper-content bg-white pinside40">

                                <%- include('../views/partials/contact-form.ejs') %>

                                    <div class="contact-us mb60">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="mb60  section-title">
                                                    <!-- section title start-->
                                                    <h1>We are here to help you </h1>
                                                    <p class="lead">Various versions have evolved over the years sometimes by accident sometimes on purpose injected humour and the like.</p>
                                                </div>
                                                <!-- /.section title start-->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="bg-boxshadow pinside50 outline text-center mb30">
                                                    <div class="mb40"><i class="icon-briefcase icon-2x icon-default"></i></div>
                                                    <h2 class="capital-title">Branch Office</h2>
                                                    <p>D-1/107 Mansa Ram Park Opp. Metro Pillar No-761 Uttam Nagar, New Delhi - 110059</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="bg-boxshadow pinside50 outline text-center mb30">
                                                    <div class="mb40"><i class="icon-phone-call icon-2x icon-default"></i></div>
                                                    <h2 class="capital-title">Call us at </h2>
                                                    <h1 class="text-big"><a href="tel:8860448902">+91 88604 48902</a> </h1>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="bg-boxshadow pinside60 outline text-center mb30">
                                                    <div class="mb40"> <i class="icon-letter icon-2x icon-default"></i></div>
                                                    <h2 class="capital-title">Email Address</h2>
                                                    <p><a href="mailto:contact@sublimeattestation.com" class="txtcolor">contact@sublimeattestation.com</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="map" id="googleMap">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7004.916298716642!2d77.03655447525531!3d28.616027929697037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d05305962fc1b%3A0x1acaa4f5b56ffde4!2sMansa%20Ram%20Park%2C%20Uttam%20Nagar%2C%20Delhi!5e0!3m2!1sen!2sin!4v1600232171700!5m2!1sen!2sin"
                                            width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('../views/partials/whats-app-contact.ejs') %>
                <%- include('../views/partials/footer.ejs') %>
                    <%- include('../views/partials/common_js.ejs') %>
</body>

</html>