<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Sublime Attestation">
    <meta name="keywords" content="Financial Website Template, Bootstrap Template, Loan Product, Personal Loan, Loan Terms, Loan Company ">
    <title>Sublime Attestation</title>
    <%- include('../views/partials/common_css.ejs') %>

</head>

<body class="animsition">
    <%- include('../views/partials/topbar.ejs') %>
        <%- include('../views/partials/header.ejs') %>

            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="bg-white pinside30">
                                <div class="row">
                                    <div class="col-md-12 col-sm-4 col-xs-4">
                                        <h1 class="page-title">HRD Attestation</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" ">
                <!-- content start -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="wrapper-content bg-white">
                                <div class="section-scroll pinside60" id="section-about">
                                    <h1>About HRD Attestation</h1>
                                    <!--<p class="lead">To make your journey a smooth sail, in this article we will help you to know types of Documents, process for Visa and answers of some faqs.</p>-->
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <p>State HRD attestation is a most reliable authentication process of educational documents. Every state has its Human Resource Dept (HRD dept.) which verifies the source and content of the issued educational documents
                                                including Under-Graduate degree certificate, Post-Graduation certificate, Phd Degree certificate etc. with the respective issuing authority. State HRD checks the authenticity of the educational certificates
                                                with the concern issuing university and any other Institutional establishment. Once after verification of the entire content and source of the document, HRD dept. Puts a stamp at the backside of the document
                                                promising its reliability before the government officials.</p>
                                            <p>Sublime furnishes a variety of HRD attestation having a wide network with different state's HRD dept. We are ready to perform the HRD attestation task on candidate's behalf.</p>
                                        </div>
                                    </div>
                                    <p> </p>
                                    <a href="#visa-section-apply" class="btn btn-default">Enquire Now</a>
                                </div>
                                <hr width="90%">

                                <!--<div class="section-scroll" id="section-typeloan">
                            <div class="bg-light pinside60">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="section-title mb60">
                                            <h2>Procedure for Embassy attestation on Educational Document:</h2>
                                            <p>Sed sit amet volutpat erat. Lorem ipsum dolor sit amet lorem consectetur adipiscing elit. Nam massa ipsum, mollis et sit amet ullamcorque duraesent nec vehicula dolor.</p>
                                        </div>
                                    </div>                                
                                    <div class="col-md-12 col-sm-6 col-xs-12">
                                        <div class="feature-blurb mb60">
                                            <h3>Recidence Visa</h3>
                                            <p>Sed sit amet volutpat erat. Lorem ipsum dolor sit amet lorem consectetur adipiscing elit. Nam massa ipsum, mollis et sit amet ullamcorque duraesent nec vehicula dolor.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-6 col-xs-12">
                                        <div class="feature-blurb mb60">
                                            <h3>Student Visa</h3>
                                            <p>Sed sit amet volutpat erat. Lorem ipsum dolor sit amet lorem consectetur adipiscing elit. Nam massa ipsum, mollis et sit amet ullamcorque duraesent nec vehicula dolor. </p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-6 col-xs-12">
                                        <div class="feature-blurb">
                                            <h3>Tourist Visa</h3>
                                            <p>Sed sit amet volutpat erat. Lorem ipsum dolor sit amet lorem consectetur adipiscing elit. Nam massa ipsum, mollis et sit amet ullamcorque duraesent nec vehicula dolor.</p>
                                            
                                        </div>
                                    </div>                                   
                                </div>
                            </div>
                        </div>
                        <hr width="90%">-->


                                <div class="section-scroll" id="section-typeloan">
                                    <div class="bg-light pinside60">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="section-title mb60">
                                                    <h2>We are predominantly offering HRD attestation of following states on your behalf:</h2>
                                                    <p>We are predominantly offering HRD attestation of following states on your behalf:</p>
                                                </div>
                                            </div>
                                            <div class=" col-md-12 col-sm-12 col-xs-12">
                                                <div class="row column-block">
                                                    <div class="col-md-3 col-sm-3">
                                                        <ul class="listnone bullet bullet-arrow-right">
                                                            <li>Delhi</li>
                                                            <li>Maharashtra</li>
                                                            <li>UP</li>
                                                            <li>Karnataka</li>
                                                            <li>Telangana</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3 col-sm-3">
                                                        <ul class="listnone bullet bullet-arrow-right">
                                                            <li>Haryana</li>
                                                            <li>Punjab</li>
                                                            <li>Tamil Nadu</li>
                                                            <li>Kerala</li>
                                                            <li>Andhra</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3 col-sm-3">
                                                        <ul class="listnone bullet bullet-arrow-right">
                                                            <li>West Bengal</li>
                                                            <li>Bihar</li>
                                                            <li>Jharkhand</li>
                                                            <li>Chhattisgarh</li>
                                                            <li>Goa</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3 col-sm-3">
                                                        <ul class="listnone bullet bullet-arrow-right">
                                                            <li>Orissa</li>
                                                            <li>Sikkim</li>
                                                            <li>Assam</li>
                                                            <li>Gujarat</li>
                                                            <li>Madhya Pradesh</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr width="90%">


                                <!--<div class="section-scroll" id="section-faq">
                            <div class="pinside60">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="section-title mb60">
                                            <h2>Frequently Ask Questions</h2>
                                            <p>If you have a question that deals with clients, customers or the public in general, there is bound to be a need for the FAQ page. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 st-accordion col-xs-12">
                                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingOne">
                                                    <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Question 1?</a> </h4>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body">
                                                        <p>Lorem ipsums sium congueut porttitor acese its commodo non lorem estibulum finibus urna eu efficitur non lorem acese its commodo sitamet finibus urnaeuloremmse its lorem ipusm dolro sit commodo.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingTwo">
                                                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Question 2 ?</a> </h4>
                                                </div>
                                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                    <div class="panel-body">
                                                        <p>Aenean convallis, odio in eleifend tristique, sem nisl tincidunt magna, quis fermentum augue neque a diam. Praesent hendrerit risus a imperdiet viverra. Suspendisse sed lectus id arcu viverra interdum et in arcu.</p>
                                                        <p>Incidunt magna quis fermentum augue neque ullam vulputate, odio ac maximus consequat, nisl lorem maximus turpis, nec laoreet est ex vel elit. Sed placerat laoreet lobortis. a diam raesent hendrerit risus a imperdiet viverra uspendisse sed lectus id arcu viverra interdum et in arcu.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingThree">
                                                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> question 3? </a> </h4>
                                                </div>
                                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="panel-body">
                                                        <p>Incidunt magna quis fermentum augue neque ullam vulputate, odio ac maximus consequat, nisl lorem maximus turpis, nec laoreet est ex vel elit. Sed placerat laoreet lobortis. a diam raesent hendrerit risus a imperdiet viverra uspendisse sed lectus id arcu viverra interdum et in arcu.</p>
                                                        <ul>
                                                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                                            <li>Cras imperdiet ligula ac elit sollicitudin scelerisque.</li>
                                                            <li>Nunc viverra mi et risus dictum condimentum.</li>
                                                            <li>Integer ac mi nec elit cursus rutrum ac in odio.</li>
                                                            <li>Integer sit amet sapien dapibus libero finibus pellentesque eu at purus.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingFour">
                                                    <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">question 4?</a> </h4>
                                                </div>
                                                <div id="collapseFour" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingFour">
                                                    <div class="panel-body">
                                                        <p>Lorem ipsums sium congueut porttitor acese its commodo non lorem estibulum finibus urna eu efficitur non lorem acese its commodo sitamet finibus urnaeuloremmse its lorem ipusm dolro sit commodo.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->


                                <div class="section-scroll" id="visa-section-apply">
                                    <div class="bg-light pinside30"></div>
                                </div>
                                <%- include('../views/partials/request-call-form.ejs') %>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <%- include('../views/partials/whats-app-contact.ejs') %>
                <%- include('../views/partials/footer.ejs') %>
                    <%- include('../views/partials/common_js.ejs') %>
</body>

</html>