<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Apostille Attestation and Visa Services">
    <!--<meta name="keywords" content="Financial Website Template, Bootstrap Template, Loan Product, Personal Loan">-->
    <title>Sublime - Apostille Attestation and Visa Services</title>

    <%- include('../views/partials/common_css.ejs') %>
</head>

<body class="animsition">

    <!-- /.top-bar -->

    <%- include('../views/partials/topbar.ejs') %>
        <%- include('../views/partials/header.ejs') %>

            <div class="slider" id="slider">
                <!-- slider -->
                <div class="slider-img"><img src="./images/attestation-banner.jpg" alt="Sublime Attestation Services" class="">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="slider-captions">
                                    <!-- slider-captions -->
                                    <h1 class="slider-title">Get documents <strong class="text-highlight">Attestated</strong> fast </h1>
                                    <p class="slider-text hidden-xs">To Submit your Documents, Call
                                        <br>
                                        <strong class="text-highlight">9773710889</strong></p>
                                    <a href="attestation.html" class="btn btn-default hidden-xs">Know Now</a> </div>
                                <!-- /.slider-captions -->
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slider-img"><img src="./images/apostille-banner.jpg" alt="Sublime Apostille Attestation Services" class="">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                    <div class="slider-captions">
                                        <!-- slider-captions -->
                                        <h1 class="slider-title"> Get your documents <strong class="text-highlight">Apostille</strong> fast </h1>
                                        <p class="slider-text hidden-xs"> We provide genuine apostille stamp on your documents.</p>
                                        <a href="apostille.html" class="btn btn-default hidden-xs">Know More</a> </div>
                                    <!-- /.slider-captions -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slider-img"><img src="./images/visa-banner.jpg" alt="Sublime Visa Services" class="">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                    <div class="slider-captions">
                                        <!-- slider-captions -->
                                        <h1 class="slider-title">Get your <strong class="text-highlight">Visa</strong> done</h1>
                                        <p class="slider-text hidden-xs">Submit your passport
                                            <br> We serve across India.</p>
                                        <a href="/visa" class="btn btn-default hidden-xs">Know More</a> </div>
                                    <!-- /.slider-captions -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-space40">
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="text-center section-title">
                                <!-- section title start-->
                                <h1>Welcome To Sublime Attestation & Visa Services</h1>
                                <p>In today's era, Immigration is the most popular term, especially among youngsters. Whether it can be economic goals or social exposure, people are frequently moving abroad . Documentation is a prerequisite requirement while
                                    migrating to any foreign country leaving behind the origin country. For every purpose there exists a procedure which includes documentspartials/ compilation and its attestation from the concerned authorities.</p>
                            </div>
                            <!-- /.section title start-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-space60 bg-primary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="mb60 text-center section-title">
                                <!-- section title start-->
                                <h1>Find Embassy Services We Offers</h1>
                                <p>SUBLIME is a registered professional service provider company having its head office at New Delhi with a network<strong>  all over India.</strong></p>
                            </div>
                            <!-- /.section title start-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="service" id="service">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="bg-white pinside40 service-block outline mb30">
                                    <!--<div class="icon mb40"> <img src="images/loan.svg" alt="Borrow - Loan Company Website Template" class="icon-svg-2x"> </div>-->
                                    <h2><a href="attestation.html" class="title">Attestation</a></h2>
                                    <p>It is the process of verifing documents from non Hague Convention country's embassy.</p>
                                    <a href="attestation.html" class="btn-link">Read More</a></div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="bg-white pinside40 service-block outline mb30">
                                    <!--<div class="icon mb40"> <img src="images/loan.svg" alt="Borrow - Loan Company Website Template" class="icon-svg-2x"> </div>-->
                                    <h2><a href="hrd-attestation.html" class="title">HRD Attestation</a></h2>
                                    <p>It is known as Human Resources Department Attestation is required mainly Educational Documents.</p>
                                    <a href="hrd-attestation.html" class="btn-link">Read More</a></div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="bg-white pinside40 service-block outline mb30">
                                    <!--<div class="icon mb40"> <img src="images/mortgage.svg" alt="Borrow - Loan Company Website Template" class="icon-svg-2x"></div>-->
                                    <h2><a href="apostille.html" class="title">Apostille Attestation</a></h2>
                                    <p>Apostille Attestation is the procedure of verifing documents from Hague Convention country's embassy. </p>
                                    <a href="apostille.html" class="btn-link">Read More</a> </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="bg-white pinside40 service-block outline mb30">
                                    <!-- <div class="icon mb40"> <img src="images/piggy-bank.svg" alt="Borrow - Loan Company Website Template" class="icon-svg-2x"></div>-->
                                    <h2><a href="/visa" class="title">Visa Services</a></h2>
                                    <p>Visa is authorized stamp on passport which allows to travel from home country to another country.</p>
                                    <a href="/visa" class="btn-link">Read More</a> </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="bg-white pinside40 service-block outline mb30">
                                    <!-- <div class="icon mb40"> <img src="images/loan.svg" alt="Borrow - Loan Company Website Template" class="icon-svg-2x"></div>-->
                                    <h2><a href="translation-services.html" class="title">Document Translation</a></h2>
                                    <p>The document translation is needed to reduce language barrier from one language to another. </p>
                                    <a href="translation-services.html" class="btn-link">Read More</a> </div>
                            </div>
                            <!--<div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="bg-white pinside40 service-block outline mb30">
                                    <div class="icon mb40"> <img src="images/car.svg" alt="Borrow - Loan Company Website Template" class="icon-svg-2x"></div>
                                    <h2><a href="#" class="title">Car Loan</a></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.</p>
                                    <a href="#" class="btn-link">Read More</a> </div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-space60">
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8 col-xs-12">
                            <div class="mb100 text-center section-title">
                                <!-- section title start-->
                                <h1>Fast &amp; Easy Application Process</h1>
                                <p>You just need to handover your docments and sit back. We will deliverd documents at your doorstep.</p>
                            </div>
                            <!-- /.section title start-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="bg-white pinside40 number-block outline mb60 bg-boxshadow">
                                <div class="circle"><span class="number">1</span></div>
                                <h3 class="number-title">Choose Service</h3>
                                <p>Choose your desire service. Our Exucutives will get back to you.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="bg-white pinside40 number-block outline mb60 bg-boxshadow">
                                <div class="circle"><span class="number">2</span></div>
                                <h3 class="number-title">Submit Documents</h3>
                                <p>Our Executive will book your appointment for document pickup from your doorstep.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="bg-white pinside40 number-block outline mb60 bg-boxshadow">
                                <div class="circle"><span class="number">3</span></div>
                                <h3 class="number-title">Pay Fees</h3>
                                <p>You can pay fees by using net banking or UPI.</p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 text-center"> <a href="#" class="btn btn-default">View Our Loans</a> </div>
                    </div>-->
                </div>
            </div>
            <div class="section-space60 bg-primary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8">
                            <div class="mb60 text-center section-title">
                                <!-- section title start-->
                                <h1>Why People Choose Us</h1>
                                <p>We offer all kinds of Embassy services to fulfill customer's requirements from the Foreign affairs, Embassies, High Commissions and other competent authorities.</p>
                            </div>
                            <!-- /.section title start-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="bg-white bg-boxshadow">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 nopadding col-xs-12">
                                        <div class="bg-white pinside60 number-block outline">
                                            <div class="mb20"><i class="icon-command  icon-4x icon-primary"></i></div>
                                            <h3>Dedicated Specialists</h3>
                                            <p>We have professional Team of Experiensed Executive along with courier service.</p>
                                            <!--<a href="#" class="btn btn-outline mt20">Meet the team</a>--></div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 nopadding col-xs-12">
                                        <div class="bg-white pinside60 number-block outline">
                                            <div class="mb20"><i class="icon-cup  icon-4x icon-primary"></i></div>
                                            <h3>Success Stories Rating</h3>
                                            <p>Success Ratio of timely delivering services is constantly increasing day by day.</p>
                                            <!--<a href="#" class="btn btn-outline mt20">View Client Review</a>--></div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 nopadding col-xs-12">
                                        <div class="bg-white pinside60 number-block outline">
                                            <div class="mb20"><i class="icon-calculator  icon-4x icon-primary"></i></div>
                                            <h3>No Consultation Fees!</h3>
                                            <p>We provide step by step consultation throughout the process.</p>
                                            <!--<a href="#" class="btn btn-outline mt20">Why choose us</a>--></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-space60">
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
                            <div class="mb60 text-center section-title">
                                <!-- section title-->
                                <h1>We are Here to Help You</h1>
                                <p>Our mission is to deliver fast Embassy related services.</p>
                            </div>
                            <!-- /.section title-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="bg-white bg-boxshadow pinside40 outline text-center mb30">
                                <div class="mb40"><i class="icon-calendar-3 icon-2x icon-primary"></i></div>
                                <h2 class="capital-title">Apply Service</h2>
                                <p>Looking Embassy Legalization and Visa Services?</p>
                                <!--<a href="contact-us.html" class="btn-link">Get Appointment</a>-->
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="bg-white bg-boxshadow pinside40 outline text-center mb30">
                                <div class="mb40"><i class="icon-phone-call icon-2x icon-primary"></i></div>
                                <h2 class="capital-title">Call us at </h2>
                                <h1 class="text-big"><a href="tel:8860448902">+91 88604 48902</a> </h1>
                                <p><a href="mailto:contact@sublimeattestation.com" class="txtcolor">contact@sublimeattestation.com</a></p>
                                <a href="contact-us.html" class="btn-link">Contact us</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="bg-white bg-boxshadow pinside40 outline text-center mb30">
                                <div class="mb40"> <i class="icon-users icon-2x icon-primary"></i></div>
                                <h2 class="capital-title">Talk to Executive</h2>
                                <p>Need Complete Consultation? Talk to our Executive.</p>
                                <!--<a href="contact-us.html" class="btn-link">Meet The Advisor</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('../views/partials/whats-app-contact.ejs') %>
                <%- include('../views/partials/footer.ejs') %>
                    <%- include('../views/partials/common_js.ejs') %>
</body>

</html>