<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Sublime Attestation">
    <meta name="keywords" content="Financial Website Template, Bootstrap Template, Loan Product, Personal Loan, Loan Terms, Loan Company ">
    <title>Sublime Attestation</title>
    <%- include('../views/partials/common_css.ejs') %>

</head>

<body class="animsition">
    <%- include('../views/partials/topbar.ejs') %>
        <%- include('../views/partials/header.ejs') %>
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="bg-white pinside30">
                                <div class="row">
                                    <div class="col-md-12 col-sm-4 col-xs-4">
                                        <h1 class="page-title">Visa</h1>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="sub-nav" id="sub-nav">
                        <ul class="nav nav-justified">
                            <li><a href="#section-about" class="page-scroll">About Attestation</a></li>
                            <li><a href="#section-typeloan" class="page-scroll">types of Attestation</a></li>
                            <li><a href="#section-feature" class="page-scroll">features &amp; Benefits</a></li>
                            <li><a href="#section-eleigiblity" class="page-scroll">Documents</a></li>
                            <li><a href="#section-faq" class="page-scroll">FAQ’S</a></li>
                            <li><a href="#section-apply" class="page-scroll">Apply now</a></li>
                        </ul>
                    </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class=" ">
                <!-- content start -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="wrapper-content bg-white">
                                <div class="section-scroll pinside60" id="section-about">
                                    <h1>About Visa</h1>
                                    <!--<p class="lead">To make your journey a smooth sail, in this article we will help you to know types of Documents, process for Visa and answers of some faqs.</p>-->
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <p>Visa is required of any traveller who intends to enter a foreign country. Visa is a kind of approval given to a person from the immigration body of a country before entering its boundaries. The immigration authority
                                                of a country goes through all the previous background , future plans and objectives of visiting the country of traveller and permits him to enter in its area. Visa procedure and mode of stamping varies nation
                                                to nation. Some countries like the USA, Canada, Germany have visa stamping procedures while some like thailand, Malaysia have e-visa procedures too.</p>
                                            <p>Here at SUBLIME , we hold a team of experts 24*7 to assist you throughout the process to meet your visa requirements efficiently within the stipulated deadlines.We have immense experience in carrying out visa
                                                application and submission procedures for different categories for numerous countries.</p>
                                        </div>
                                    </div>
                                    <p> </p>
                                    <a href="#visa-section-apply" class="btn btn-default">Enquire Now</a>
                                </div>
                                <hr width="90%">

                                <div class="section-scroll" id="section-typeloan">
                                    <div class="bg-light pinside60">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="section-title mb60">
                                                    <h2>Types of Visa</h2>
                                                    <p>Visas are categorized on the basis of purpose of travel. The most popular category of visas are:</p>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-6 col-xs-12">
                                                <div class="feature-blurb mb60">
                                                    <h3>Business Visa</h3>
                                                    <p>A business visa is meant for getting involved in business relations and meetings overseas which does not gain any kind of employment. It can be a business summit.</p>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-6 col-xs-12">
                                                <div class="feature-blurb mb60">
                                                    <h3>Student Visa</h3>
                                                    <p>If a student gets admitted to an abroad institution, endorsement student visa allows the students to get enrolled at foreign qualified institutions.</p>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-6 col-xs-12">
                                                <div class="feature-blurb">
                                                    <h3>Tourist Visa</h3>
                                                    <p>If one is intending to visit a country for self amusement visa category will be considered as a Tourist visa . It's a permit that allows a person to enter a particular country for leisure purposes.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr width="90%">




                                <div class="section-scroll" id="section-typeloan">
                                    <div class="bg-light pinside60">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="section-title mb60">
                                                    <h2>We provide Visa for Countries listed Below</h2>
                                                    <p>Sed sit amet volutpat erat. Lorem ipsum dolor sit amet lorem consectetur adipiscing elit. Nam massa ipsum, mollis et sit amet ullamcorque duraesent nec vehicula dolor.</p>
                                                </div>
                                            </div>
                                            <div class=" col-md-12 col-sm-12 col-xs-12">
                                                <div class="row column-block">
                                                    <div class="col-md-4 col-sm-3">
                                                        <ul class="listnone bullet bullet-arrow-right">
                                                            <li>United State of America (USA)</li>
                                                            <li>United Arab Emirate (UAE)</li>
                                                            <li>United Kingdom (UK)</li>
                                                            <li>Saudi </li>
                                                            <li>Kuwait</li>
                                                            <li>Qatar</li>
                                                            <li>Bahrain </li>
                                                            <li>Singapore</li>
                                                            <li>Thailand</li>
                                                            <li>China </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4 col-sm-3">
                                                        <ul class="listnone bullet bullet-arrow-right">
                                                            <li>Brazil</li>
                                                            <li>Cyprus</li>
                                                            <li>Australia </li>
                                                            <li>Russia</li>
                                                            <li>Canada</li>
                                                            <li>Afghanistan</li>
                                                            <li>Mauritius </li>
                                                            <li>Philippines</li>
                                                            <li>Ethiopia</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4 col-sm-3">
                                                        <ul class="listnone bullet bullet-arrow-right">
                                                            <li>Germany </li>
                                                            <li>France </li>
                                                            <li>Japan </li>
                                                            <li>Maldives </li>
                                                            <li>Iraq</li>
                                                            <li>Nigeria</li>
                                                            <li>Vietnam</li>
                                                            <li>Bangladesh</li>
                                                            <li>Srilanka </li>
                                                        </ul>
                                                    </div>
                                                    <!--<div class="col-md-3 col-sm-3">
                                                <ul class="listnone bullet bullet-arrow-right">
                                                	<li>Argentina</li>
                                                    <li>Yemen</li>
                                                    <li>China</li>
                                                    <li>Thailand</li>
                                                    <li>Italy</li>
                                                    <!--<li></li>--
                                                </ul>
                                            </div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr width="90%">


                                <!--<div class="section-scroll" id="section-faq">
                            <div class="pinside60">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="section-title mb60">
                                            <h2>Frequently Ask Questions</h2>
                                            <p>If you have a question that deals with clients, customers or the public in general, there is bound to be a need for the FAQ page. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 st-accordion col-xs-12">
                                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingOne">
                                                    <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Question 1?</a> </h4>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body">
                                                        <p>Lorem ipsums sium congueut porttitor acese its commodo non lorem estibulum finibus urna eu efficitur non lorem acese its commodo sitamet finibus urnaeuloremmse its lorem ipusm dolro sit commodo.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingTwo">
                                                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Question 2 ?</a> </h4>
                                                </div>
                                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                    <div class="panel-body">
                                                        <p>Aenean convallis, odio in eleifend tristique, sem nisl tincidunt magna, quis fermentum augue neque a diam. Praesent hendrerit risus a imperdiet viverra. Suspendisse sed lectus id arcu viverra interdum et in arcu.</p>
                                                        <p>Incidunt magna quis fermentum augue neque ullam vulputate, odio ac maximus consequat, nisl lorem maximus turpis, nec laoreet est ex vel elit. Sed placerat laoreet lobortis. a diam raesent hendrerit risus a imperdiet viverra uspendisse sed lectus id arcu viverra interdum et in arcu.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingThree">
                                                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> question 3? </a> </h4>
                                                </div>
                                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="panel-body">
                                                        <p>Incidunt magna quis fermentum augue neque ullam vulputate, odio ac maximus consequat, nisl lorem maximus turpis, nec laoreet est ex vel elit. Sed placerat laoreet lobortis. a diam raesent hendrerit risus a imperdiet viverra uspendisse sed lectus id arcu viverra interdum et in arcu.</p>
                                                        <ul>
                                                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                                            <li>Cras imperdiet ligula ac elit sollicitudin scelerisque.</li>
                                                            <li>Nunc viverra mi et risus dictum condimentum.</li>
                                                            <li>Integer ac mi nec elit cursus rutrum ac in odio.</li>
                                                            <li>Integer sit amet sapien dapibus libero finibus pellentesque eu at purus.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingFour">
                                                    <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">question 4?</a> </h4>
                                                </div>
                                                <div id="collapseFour" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingFour">
                                                    <div class="panel-body">
                                                        <p>Lorem ipsums sium congueut porttitor acese its commodo non lorem estibulum finibus urna eu efficitur non lorem acese its commodo sitamet finibus urnaeuloremmse its lorem ipusm dolro sit commodo.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->


                                <div class="section-scroll" id="visa-section-apply">
                                    <div class="bg-light pinside30"></div>
                                </div>
                                <%- include('../views/partials/request-call-form.ejs') %>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('../views/partials/whats-app-contact.ejs') %>
                <%- include('../views/partials/footer.ejs') %>
                    <%- include('../views/partials/common_js.ejs') %>
</body>

</html>